<div class="wrapper-light-grey">
  <div class="card-container">
    <div class="row">
      <div class="cards">
        <div class="card">
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');">
            <a href="#"></a>
            <span class="card-category">Shanghai</span>
            <div class="card-description">
              <h2><%#= listing.name %>Jad's home</h2>
            </div>
            <div class="wishlist-link">
              <a href="#"><i class="fa fa-heart"></i></a>
            </div>
            <!-- <img class="card-user" src="images/jad.png"> -->
          </div>
          <div class="card-footer">
            <p><%#= listing.price %>$55 usd</p>
            <p><%#= coding.to.be.done %>10 Reviews (avg. 4.5)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
