.navbar-desko {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px 24px;
}

.navbar-desko .brand {
  width: 40px;
}

.navbar-desko .navbar-desko-actions {
  display: flex;
  align-items: center;
}

.navbar-desko .navbar-desko-actions .navbar-desko-link {
  margin-left: 24px;
  color: #999999;
}

.navbar-desko .navbar-desko-actions .navbar-desko-link:hover {
  color: #151515;
}
