<!-- THIS PAGE WILL CONTAIN A FORM TO A NEW REVIEW TO A GIVEN PROPERTY BY ITS ID

URL: LISTINGS/LISTING:ID/BOOKINGS/BOOKING:ID/REVIEWS/NEW -->

<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>
